body {
    justify-content: center;
    align-items: center;
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
}
button {
    background-color: brown;
    color: white;
}
input, select, button {
    width: 200px;
    padding: 8px;
    margin: 5px;
}